.root {
  position: relative;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px 12px 36px;

  width: 300px;
  border-radius: 10px;
  font-size: 16px;
  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}

.icon {
  position: absolute;
  left: 8px;
  top: 11px;
  width: 24px;
  height: 24px;
  opacity: 0.3;
}

.close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 14px;
  opacity: 0.3;
  &:hover {
    opacity: 1;
  }
}
